{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
      <h2>Hello, pleasure to meet you! </h2>
      <li>Seeking a broader field and desire to do work in full stack development within Nelnet.</li>
      <li>I work primarily with the QuikPAY platform as a technical support engineer.</li >
      <li>I am looking forward to being a member of a high skilled and motivated development team.</li>
      <li>Offer experiences, leadership skills, enthusiasm, strong people skills, and professionalism.</li>
      <hr>
      <h4>Learn a bit more about me click <a href="http://doug-macgregor.webflow.io"/a>here</h4>

 <a href="mailto:doug.macgregor@nelnet.com" rel="nofollow" target="_blank" title="Send me an email"> Email</a>
 <a href="https://github.com/SEDoug/" rel="nofollow" target="_blank"  title="Look through my Github profile"> Github</a>
 <a href="https://twitter.com/doug_mac_gregor/" rel="nofollow" target="_blank" title="Tweet me!"> Twitter</a>
 <a href="https://www.linkedin.com/in/doug-mac-gregor-563ba44" rel="nofollow" target="_blank"  title="See my LinkedIn profile"> LinkedIn</a>
 </div>

{% endblock %}
