{% extends 'layout.html' %}

{% block body %}

<div class="container">
  <h2>Image</h2>
  <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
  <img src="Screenshot from 2017-09-26 12-46-23.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">
</div>


<div class="jumbotron text-center">
    <h2>Books</h2>
      &#45 Use of a hand scanner to catalog my book library.<br>
      &#45 Export csv/xls file into a MYSQL dat abase.<br>
      &#45 Make viewable on this web application.<p>
<img src="Screenshot from 2017-09-26 12-46-23.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">
      <img src="final_books_py.png" class="img-fluid" alt="Responsive image"><br>
      <img src="images/.." class="rounded float-left" alt="...">
      <img src="images/.." class="rounded float-right" alt="..."> <br>


      <hr>

 <h4> Learn a bit more about me click <a href="http://doug-macgregor.webflow.io"/a>here</h4>

 <a href="mailto:doug.macgregor@nelnet.com" rel="nofollow" target="_blank" title="Send me an email"> Email</a>
 <a href="https://github.com/SEDoug/" rel="nofollow" target="_blank"  title="Look through my Github profile"> Github</a>
 <a href="https://twitter.com/doug_mac_gregor/" rel="nofollow" target="_blank" title="Tweet me!"> Twitter</a>
 <a href="https://www.linkedin.com/in/doug-mac-gregor-563ba44" rel="nofollow" target="_blank"  title="See my LinkedIn profile"> LinkedIn</a>
</div>
{% endblock %}


<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Image</h2>
  <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
  <img src="cinqueterre.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">
</div>

</body>
</html>
