{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h2>My portfolio showcasing various projects</h2>
        <p class="lead"><b>goal:</b> to demonstrate my programming skills<p>
        <b>features:</b> login/register | add/edit articles | importing .csv | view data w/php | version control | unit testing (jenkins or Travis CI) | Django/json/node.js<p>
        <b>used:</b> linux | python | mysql | pycharm | php | phpmyadmin | git | bootstrap<br>
        by Doug MacGregor</p>
        {% if session.logged_in == NULL %}
          <a href="/register" class="btn btn-primary btn-lg">Register</a>
          <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}
    </div>
{% endblock %}
