{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h2>My simple portfolio showcasing various applications</h2>
        <p class="lead">goal: to demonstrate my programming skills<br>
        features: register page | login page | add/edit/articles | importing | encryption/decryption | log viweing<p>
        used: python | mysql | bootstrap<br>
        by Doug MacGregor</p>
        {% if session.logged_in == NULL %}
          <a href="/register" class="btn btn-primary btn-lg">Register</a>
          <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}
    </div>
{% endblock %}
